# General
node_modules
.svelte-kit
.venv
**/__pycache__
**/ui

# Output
.output
.vercel
.netlify
.wrangler
/build

# OS
.DS_Store
Thumbs.db

# Env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
