/* STYLES AND THEME BASE */

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf");
}

:root {
  /* Colors */

  --bg-color: #151515;
  --bg-color-darker: #0a0a0a;

  --text-color: #999;
  --text-color-hover: #ddd;
  --text-color-active: #fff;

  --lining-color: rgba(255, 255, 255, 0.08);
  --lining-color-hover: rgba(255, 255, 255, 0.18);
  --lining-color-active: rgba(255, 255, 255, 0.28);

  --base-color: #151515;
  --base-color-transparent: #15151500;
  --base-color-hover: #252525;
  --base-color-active: #353535;

  --accent-color: #39b;
  --accent-color-hover: #5df;
  --accent-color-active: #4bd;

  --error-color: #b33;
  --error-color-hover: #f55;
  --error-color-active: #d44;

  --warning-color: #ba3;
  --warning-color-hover: #fe5;
  --warning-color-active: #dc4;

  --success-color: #3b3;
  --success-color-hover: #5f5;
  --success-color-active: #4d4;

  /* UI Sizes */

  --titlebar-height: 2.7rem;
  --statusbar-height: 1.7rem;

  /* Generic Sizes */

  --border-radius: 0.2rem;
  --border-radius-small: 0.1rem;
  --border-radius-medium: 0.2rem;
  --border-radius-large: 0.3rem;
  --border-radius-xlarge: 0.4rem;

  --button-padding: 0.25rem 0.5rem;
  --button-padding-small: 0.1rem 0.25rem;
  --button-padding-medium: 0.25rem 0.5rem;
  --button-padding-large: 0.5rem 1rem;
  --button-padding-xlarge: 1rem 2rem;

  /* Fonts */

  --font-family: "Inter", "DM Sans", "Segoe UI", "Verdana", sans-serif;
  --font-family-monospace: "FiraCode Nerd Font Light", monospace;
  --font-size: 13px;
  --font-size-xsmall: 0.8rem;
  --font-size-small: 0.9rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.1rem;
  --font-size-xlarge: 1.2rem;
}

/* GLOBAL ELEMENT STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--lining-color) transparent;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* GENERIC ELEMENTS */

.border {
  border: 1px solid var(--lining-color);
}

/* BUTTONS */

button {
  font-family: inherit;
  color: inherit;
  border: none;
  color: var(--text-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  scale: 1;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.1s ease, color 0.1s ease, scale 0.1s ease;
  &:hover {
    scale: 1.1;
    color: var(--text-color-hover);
    background-color: var(--base-color-hover);
  }
  &:active {
    scale: 0.95;
    color: var(--text-color-active);
    background-color: var(--base-color-active);
  }
}

.button-icon {
  &:hover {
    background-color: transparent;
  }
  &:active {
    background-color: transparent;
  }
}

.button-image {
  transition: filter 0.1s ease;
  &:hover {
    filter: brightness(1.1);
    background-color: transparent;
  }
  &:active {
    filter: brightness(0.95);
    background-color: transparent;
  }
}

.button-base {
  color: var(--text-color);
  background-color: var(--lining-color);
  &:hover {
    color: var(--text-color-hover);
    background-color: var(--lining-color-hover);
  }
  &:active {
    color: var(--text-color-active);
    background-color: var(--lining-color-active);
  }
}

.button-error {
  color: var(--base-color);
  background-color: var(--error-color);
  &:hover {
    color: var(--base-color-hover);
    background-color: var(--error-color-hover);
  }
  &:active {
    color: var(--base-color-active);
    background-color: var(--error-color-active);
  }
}

.button-warning {
  color: var(--base-color);
  background-color: var(--warning-color);
  &:hover {
    color: var(--base-color-hover);
    background-color: var(--warning-color-hover);
  }
  &:active {
    color: var(--base-color-active);
    background-color: var(--warning-color-active);
  }
}

.button-success {
  color: var(--base-color);
  background-color: var(--success-color);
  &:hover {
    color: var(--base-color-hover);
    background-color: var(--success-color-hover);
  }
  &:active {
    color: var(--base-color-active);
    background-color: var(--success-color-active);
  }
}

.button-accent {
  color: var(--base-color);
  background-color: var(--accent-color);
  &:hover {
    color: var(--base-color-hover);
    background-color: var(--accent-color-hover);
  }
  &:active {
    color: var(--base-color-active);
    background-color: var(--accent-color-active);
  }
}
