* {
  scrollbar-width: auto;
  scrollbar-color: #333 transparent;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: transparent;
  font-size: 13px;
}

body {
  font-family: "Bahnschrift", "Microsoft Sans Serif", "FiraCode Nerd Font Light",
    "Readex Pro", "Segoe UI", monospace;
  color: #bbb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  border: 1px solid #353535;
  background-color: #222;
}

.window-titlebar,
.window-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

/* Titlebar */

.window-titlebar {
  max-height: 2.5rem;
  padding: 0 0.5rem;
}

.window-titlebar > div {
  height: 100%;
  align-content: center;
}

.window-titlebar-center {
  flex: auto;
  font-weight: bold;
}

.window-titlebar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

/* Content */

.window-content {
  flex: auto;
  background-color: #1a1a1a;
  padding: 0.5rem;
  overflow: auto;
}

/* Footer */

.window-footer {
  height: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  font-size: 0.75rem;
  font-family: "FiraCode Nerd Font Light", monospace;
  align-items: flex-end;
}

.window-footer-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*.window-footer-center {
  margin: auto;
}*/

/* Titlebar buttons */

.button-close,
.button-maximize,
.button-minimize {
  cursor: pointer;
  user-select: none;
  color: #aaa;
  background-color: #2a2a2a;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  padding: 0 0.25rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  transition: background-color, scale 0.1s ease-in-out;
  &:hover {
    color: #eee;
    background-color: #444;
    scale: 1.1;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
  &:active {
    color: #fff;
    scale: 1.05;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
  }
}

.button-close {
  &:hover {
    background-color: #c44;
  }
  &:active {
    color: #fff;
    background-color: #f55;
  }
}

.button-maximize {
  &:active {
    background-color: #494;
  }
}

.button-minimize {
  &:active {
    background-color: #a92;
  }
}

.resizer {
  width: 1rem;
  height: 1rem;
  cursor: nwse-resize;
  margin-right: -0.5rem;
  color: #333;
  &:hover {
    color: #444;
  }
}
